.photo_gallery{
	width: 666px;
	float: left;
	margin: 0 9px 0 30px;
}
.photo_gallery_main{
	width: 666px;
	height: 362px;
	position: relative;
}
.photo_gallery_main img{
	width: 100%;
	position: absolute;
	top:0;
}
.photo_gallery p{
	position: absolute;
	margin: -40px 0 0 18px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	text-shadow: 0 0 6px rgba(0,0,0,0.8)
}
.tmb{
	width: 386px;
	float: right;
	margin-right: 23px;
}
.tmb ul{
	width: 100%;
	overflow: hidden;
}
.tmb ul li{
	height: 114px;
	float: left;
	margin: 0 9px 9px 0;
}
.tmb ul li img{
	width: 100%;
	opacity: 0.6;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tmb ul li img:hover,.tmb ul li.current img{
	opacity: 1;
}
