.border{
	width: 1114px;
	margin: 0 auto;
	margin-top: -25px;
	border-bottom: 1px solid #ccc;
}

.room_content h2,.amenity h2,.otherrooms h2{
	margin: 0 auto;
	width: 282px;
	height: 50px;
}

.room_content h2{
	margin-top: 120px;
}
.room_border{
	border-color: #8e1010;
}
.room_content p img{
	display: block;
	margin: 70px auto 50px;
	width: 308px;
	height: 16px;
}

.room_content_text{
	margin-left: 46px;
	height: 400px;
}
.room_content_text p{
	margin: 40px 0;
	width: 506px;
	line-height: 24px;
}
.room_content_text_2{
	float: left;
}
.room_content_text_2 a img:hover{
	-webkit-filter:brightness(125%);
	-moz-filter:brightness(125%);
	filter:brightness(125%);
}

table{
	width: 378px;
	float: right;
	margin: 20px 30px 80px 0;
	line-height: 48px;
	border-top: 1px solid #8e1010;
	border-collapse: collapse;
}
tr{
	border-bottom: 1px solid #ccc;
}
tr:last-child{
	border-bottom: 1px solid #8e1010;
}
th{
	width: 60px;
	padding: 0 70px 0 10px;
	display: block;
	color: #999;
	font-weight:normal;
}
.td_text{
	line-height: 24px;
	padding: 12px 10px 15px 0;
}


.amenity{
	clear: both;
	overflow: hidden;
	margin-bottom: 80px;
}
.amenity_border{
	width: 654px;
	margin-bottom: 80px;
}
.amenity h3{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 6px;
}
.amenity_service{
	margin: 0 30px;
	width: 770px;
	float: left;
}
.amenity_service section{
	height: 138px;
	width: 384px;
	float: left;
	margin-bottom: 48px;
}
.amenity_service section img{
	float: left;
	width: 138px;
	height: 138px;
	margin-right: 20px;
}
.amenity_service section p{
	padding-right: 54px;
}

.amenity_amenity li span{
	color: #8e1010;
	line-height: 38px;
}




.otherrooms{
	margin-bottom: 200px;
	clear: both;
	overflow: hidden;
}
.otherrooms *{
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.otherrooms_border{
	margin-top: -50px;
	margin-bottom: 100px;
}
.otherrooms ul li a,.otherrooms ul li{
	float: left;
}
.otherrooms ul li p{
	overflow: hidden;
	display: block;
	height: 355px;
	width: 223px;
	position: absolute;
}
.otherrooms ul li p span{
	width: 455px;
	height: 455px;
	border-radius: 300px;
	margin-left: -116px;
	margin-top: -50px;
	display: block;
	position: absolute;
	z-index: 10;
	background: rgba(72,9,9,0.3);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.otherrooms ul li p span:after{
	font-size: 24px;
	font-weight: 100;
	letter-spacing: 3px;
	color: #fff;
	text-shadow: 0 0 16px #000,0 0 8px #000;
	display: block;
	margin-left: -14px;
	line-height: 420px;
	text-align: center;
	z-index: 100;
}
.price_1 span:after{
	content: "-¥22,000";
}
.price_2 span:after{
	content: "-¥27,000";
}
.price_3 span:after{
	content: "-¥31,000";
}
.price_4 span:after{
	content: "-¥55,000";
}
.price_5 span:after{
	content: "-¥41,000";
}
.otherrooms ul li:hover span{
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
