@charset "Shift_JIS";

html{
	margin:0; padding:0;
	color:#777;
}
body {
	margin: 0 auto;
	background-color:#fff;
	text-align:left;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,h2,h3,p{
	margin: 0;
}
ul,th,td{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.container{
	margin: 0 auto;
	width: 1114px;
}
.full{
	min-width: 1114px;
}
header{
	height: 130px;
	background: #fff;
}
.topbar{
	background-color: #8e1010;
	height: 50px;
	width: 100%;
}
.topbar ul{
	float:right;
	margin: 0 auto;
}
.topbar li{
	height: 50px;
	float:left;
	margin-right:30px;
}
.topbar li:hover{
	opacity: 0.7;
}
.g_nav{
	position: absolute;
	width: 100%;
	height: 97px;
}
.g_nav_bg{
	height: 97px;
	width: 100%;
	margin: 0 auto;
	background-position: 50% 0;
	background-image: url(./image/nav_bg.png);
	background-repeat: no-repeat;
}


header h1{
	width: 368px;
	height: 42px;
	float:left;
	margin: 19px 92px 0 46px;
}
header nav li{
	margin-top: 15px;
	float:left;
}
header nav li a:after{
	content:"";
	display: block;
	width: 30px;
	margin: 0 auto;
	border-bottom: 1px solid rgba(142,16,16,0);
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
header nav li a:hover:after{
	border-bottom: 1px solid rgba(142,16,16,1);
}
.mainimage{
	background-image: url(./image/main_image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 490px;
}
.mainimage img{
	margin-top: 184px;
	margin-left: 12px;
}


header h1:hover,select:hover,#form div img:hover,.osusume_link:hover{
	cursor: pointer;
	-webkit-filter:brightness(125%);
	-moz-filter:brightness(125%);
	filter:brightness(125%);
}


select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8px;
  padding: 13px 26px 13px 22px;
  border: none;
  background: #640c0c;
	background-image: url(./image/allow.png);
	background-repeat: no-repeat;
	background-position: right;
	font-size: 12px;
	color: #fff;
}
#form{
	width: 910px;
	height: 122px;
	display:block;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	background-color: #480909;
	margin-top: -60px;
}
#form dl,dt,dd{
	float:left;
	margin: 20px 5px 0;
}
.formtitle{
	margin-left: 35px;
	margin-top: 35px;
}
#form div img{
	margin-top: 40px;
	margin-left: 40px;
}


.hotel_info{
	margin: 110px auto 150px;
	height: 190px;
}
.hotel_info section{
	width: 460px;
	margin: 0 46px;
}
.hotel_info_welcome,.hotel_info_new h2{
	float:left;
}
.hotel_info_welcome p{
	line-height: 28px;
	margin-top: 27px;
}
.hotel_info_new,.hotel_info_new a img{
	float: right;
}
.hotel_info_new a img:hover{
	opacity: 0.7;
}
.hotel_info_new ul{
	float: left;
	margin-top: 21px;
}
.hotel_info_new a{
	color: #8e1010;
	line-height: 38px;
	text-decoration: none;
}
.hotel_info_new a span{
	font-size: 15px;
	color: #777;
}
.hotel_info_new a:hover{
	color: #cf4343;
}


.osusume_link{
	display: block;
	width: 175px;
	height: 40px;
	background-color: #8e1010;
	border-radius: 10px;
	text-align: center;
	line-height: 44px;
	margin: 24px 0 0;
	float: right;
}
.osusume_1,.osusume_2{
	height: 350px;
	line-height: 24px;
}
.osusume_1 h2,.osusume_2 h2{
	height: 44px;
	padding-top: 20px;
	margin: 20px 0 36px;
}
.osusume_1{
	border-bottom: 1px solid #8e1010;
	padding: 0 46px 20px 0;
}
.osusume_1:before{
	content: "";
	background: url(./image/osusume_1_image.jpg) no-repeat;
	width: 608px;
	height: 340px;
	float: left;
	margin-right: 36px;
}
.osusume_2{
	margin: 30px 0 160px 46px;
}
.osusume_2:before{
	content: "";
	background: url(./image/osusume_2_image.jpg) no-repeat;
	width: 506px;
	height: 340px;
	float: right;
	margin-left: 36px;
}




footer section{
	background: #8e1010;
	height: 155px;
}
footer,footer a{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}
.footer_info{
	float: left;
	margin-left: 10px;
	margin-right: 100px;
}
.footer_info img{
	margin: 57px 0 10px;
}
footer nav ul{
	float: left;
	padding-left: 40px;
}
footer li{
	list-style: disc;
	line-height: 20px;
}
footer li:hover{
	text-decoration: underline;
}
footer small{
	float: right;
	font-size: 12px;
	margin-right: 10px;
	margin-top: 10px;
}

.footer_bg{
	height: 36px;
	margin: 0 auto;
	background-position: 50% 0;
	background-image: url(./image/footer_bg.png);
	background-repeat: no-repeat;
}
