@charset "Shift_JIS";

html{
	margin:0; padding:0;
	height: 100%;
	width: 100%;
	color:#777;
}
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color:#f5f5f5;
	text-align:left;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,h2,h3,p,a{
	margin: 0;
	color: #fff;
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}



header{
	width: 38%;
	min-width: 380px;
	height: 100%;
	background: #fff;
	position: fixed;
	z-index: 100;
}
header section{
	float: left;
}
.g_nav{
	width: 35%;
}
.g_nav h1{
	margin: 40px 0;
	text-align: center;
}
.search{
	width: 36px;
	margin: 0 auto;
}
.search a{
	display: block;
	background: #dcdcdc;
	text-align: center;
	line-height: 44px;
	width: 36px;
	height: 36px;
	border-radius: 20px;
}

.g_nav nav ul{
	width: 35%;
	margin-bottom: 2%;
	bottom: 0;
	position: absolute;
}
.g_nav nav li{
	text-align: center;
	margin-bottom: 50px;
}
.g_nav nav li img{
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.g_nav small{
	width:35%;
	font-size: 10px;
	color: #888;
	text-align: center;
	bottom: 1.5%;
	position: absolute;
}

.shindan{
	width: 65%;
	height: 100%;
	background-color: #1fc99a;
	overflow: hidden;
	position: relative;
	background-image: url(./image/gf.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.shindan_content{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 400px;
}
.shindan_text{
	width: 270px;
	margin: 0 auto;
}
.shindan_text h2{
	font-size: 48px;
	line-height: 52px;
	letter-spacing: -3px;
	text-shadow: 0 0 30px rgba(31, 201, 154, 1);
}
.shindan_yesno{
	width: 260px;
	height: 115px;
	margin: 90px auto 0;
}
.shindan_yesno li{
	height: 115px;
	width: 115px;
	margin-right: 30px;
	float: left;
}
.shindan_yesno li:last-child{
	margin: 0;
}
.shindan_yesno li a{
	height: 115px;
	width: 115px;
	line-height: 115px;
	display: block;
	text-align: center;
	font-size: 30px;
	letter-spacing: 3px;
	font-style: italic;
	font-weight: 300;
	background-image: url(./image/yesno.png);
	background-repeat: no-repeat;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.shindan_yesno li a:hover,.g_nav nav li:hover img{
	transform: translate(0,-10px);
}


.content{
	width: 62%;
	height: 100%;
	margin-left: 38%;
	z-index: 1;
	position: absolute;
	overflow-x: hidden;
}
.content img{
	position: absolute;
}


.image_1 a,.image_1 a img,.image_1 a:after{
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.image_1 a{
	top: 10px;
	left: 10px;
	position: absolute;
}
.image_1 a:after{
	content: "\30AC\30FC\30EB\30D5\30EC\30F3\30C9\FF08\4EEE\FF09";
	width: 425px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	line-height: 425px;
	position: absolute;
	z-index: 200;
	opacity: 0;
}
.image_1 a:hover img{
	filter:brightness(40%);
	-webkit-filter:brightness(40%);
	transform: scale(1.04);
}
.image_1 a:hover:after{
	opacity: 1;
}


.image_2{
	top: 10px;
	left: 465px;
}
.image_3{
	top: 450px;
	left: 10px;
}
.image_4{
	top: 340px;
	left: 380px;
}
.image_5{
	top: 500px;
	left: 570px;
}
.image_6{
	top: 1580px;
	left: 210px;
}


.bg_1{
	top: -37px;
	left: -37px;
}
.bg_2{
	top: -20px;
	left: 385px;
}
.bg_3{
	top: 282px;
	left: 760px;
}
.bg_4{
	top: 380px;
	left: -60px;
}
.bg_5{
	top: 460px;
	left: 260px;
}
.bg_6{
	top: 360px;
	left: 630px;
}

@media (max-height:660px){
	.g_nav nav ul{
		margin-bottom: 4%;
	}
	.g_nav nav li{
		margin-bottom: 25px;
	}
}
@media (max-width:1080px){
	.shindan_text{
		width: 230px;
	}
	.shindan_text h2{
		font-size: 40px;
	}
	.shindan_yesno{
		width: 240px;
	}
	.shindan_yesno li{
		margin-right: 10px;
	}
	.content{
		margin-left: 380px;
		overflow-x: visible;
	}
}
@media (max-width:1200px){
	.content{
		overflow-x: visible;
	}
}
